<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Account to Rotten Mangoes deleted!, <%= @user.firstname %></h1>
    <p>
      You have successfully deleted your account!<br>
    </p>
    <p>Thanks for using us, and have a great day!</p>
  </body>
</html>