<%= link_to "Back to all users", admin_users_path %>

<div>
   <h1>Full name</h1><p><%= @user.full_name %></p> 
  <h2>Email:</h2><p><%= @user.email %></p> 
  <h2>Admin?</h2><p><%= @user.admin %></p>
</div>